a:link {
    color: rgb(9, 105, 220);
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: gainsboro;
}

a:visited {
    color: royargb(9, 105, 220)lblue;
}

table {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(246,248,250);
    font-family: Verdana;
    font-size: 14px;
    overflow: hidden;
}

pre {
    background-color: rgb(246,248,250);
    font-family: Verdana;
    font-size: 13px;
    padding-left: 10px;
    white-space: pre-wrap; /*�Զ�����*/
    word-wrap: break-word; /*�Զ�����*/
}

span {
    margin-top: 50px;
}

 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
} 


img {
    vertical-align: middle;
}



#leftPanel div {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#leftPanel div:hover {
  	background-color: white;
}

div ul {
    list-style: none;
}

div ul li {
    margin-bottom: 8px;
}

#apiNavigator{
    width: 200px;
}